      - foreach (var post in ViewData.Posts)
        .post
          %p.date
            =post.Created.ToString()
          %h2.title
            %a{href = post.Url}= post.Title
          %p.meta
            %small
              = post.LinkedTags
              - if(ViewData.Blog.DisqusName != null)
                %a{href = "#{post.Url}#disqus_thread"} comments	
          .entry
            = post.SummaryHtml
            - if(post.IsMore)
              %a{href = post.Url} Continue reading
      - if(ViewData.Posts.Length == 0)
        %h2
          %p= "Looks like this is a fresh install of Panda"
          %p
            %a{href = '/auth'} Log in
            = ",then"
            %a{href = 'posts/new'} create a post

      - else
        #older_posts
          %a{href = '/post'} Archive
      - if(ViewData.User.IsAdmin)
        #new_post
          %a{href = '/posts/new'} New post
    - if(ViewData.Blog.DisqusName != null)
      %script{type='text/javascript'}
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
            }
            document.write('<script type="text/javascript" src="http://disqus.com/forums/#{ViewData.Blog.DisqusName}/get_num_replies.js' + query + '"></' + 'script>');
            })();